
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #090203;
    color: #040505;
}

.secao {
    padding: 20px;
    margin: 20px auto;
    background-color: #54354e;
    max-width: 900px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(134, 14, 14, 0.1);
}

h1, h2, h3 {
    color: #18011d;
}


#cabecalho {
    background-color: #544a58;
    color: white;
    padding: 20px;
    text-align: center;
}

#menu {
    display: flex; 
    justify-content: center; 
    gap: 15px; 
    margin-top: 10px;
}

#menu a {
    color: rgb(12, 9, 9);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

#menu a:hover {
    color: #1a508a;
}


.lista-habilidades {
    list-style: none;
    padding: 0;
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
}

.lista-habilidades li {
    background-color: #e2e2e2;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 0.9em;
}


#contato {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.icones-contato a {
    color: white;
    font-size: 1.5em;
    margin: 0 10px;
    transition: color 0.3s;
}

.icones-contato a:hover {
    color: #7116c5;
}


@media (max-width: 600px) {
    body {
        font-size: 14px; 
    }

    #cabecalho {
        padding: 15px;
    }

    #menu {
        flex-direction: column; 
        gap: 5px;
    }
}